@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1615805135788'); /* IE9 */
  src: url('iconfont.eot?t=1615805135788#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK4AAsAAAAABnwAAAJsAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBCIEWATYCJAMICwYABCAFhG0HLxu7BcguMRUZ6bykSLvveQ9+Gw7TWJXBwG5gKCUPzx/DP/fFsigTN26NprL+YN1oX7i4Bfa/c/nvRqw2mfdOjUpyQKgLSS9XTtORQjSC5IwFQGEm1xM8Q41qljn/lwZyYas0/V3+/+dyetMbIPMD5bgXrTGoF2AcUIBjLYqsgA65jEgqw9gFLuE0gRbDqsQ2O/rGIFthTQrEPWqqkJ1zKwqLNQkNNSuL+KJqSm9T4HP4+/hPiWySmlkFuxftBjT9Cgk9uZt3MsJDQOsrMhaBQhzWhrelCcZM0xJONw72lRv8itk3ib3qBfvrrOw2MAgF9yR0RbdKZQIFFbPA8qgHqG21Njfff3wx/vR58uXlxPOnWSjOJeneBG3+reOFo82DeJSQbibRbUYbSpyK4xJJ+j1q6Gsox4OePukygn2MllqgiRXN3/KwL0pGttI+L/I/WwE/o25CXdHPCpp2bwl+k7BnW9HFljEVVVgbT2ZlnL6mRQvuYHuP77Ga/nuKhyb9d2ZtNJRC1mQSLeQiVK2WoEGTFWixoHN9q15MmijNmLcCIHQ5gaTDV8i6XKGF/IJqwB806Io0aHEc7NhqOmhuDKscG0ibRVT3XJKZ50a5I9iMbJVlxSFrArOQ+pAsSMVYJ3Yxm2NOOGUqnBNEmOegDnAetm0P+cxLYZ0LSc79GlEkdR8SdM+BXBsYTMVhBkQzC6F0Hhfxu3O5pe+PwEwRm4q1tNT4J2BMiPaPyARSD7RT4fZquZd3QlNMCo4jEILxOJAOMAyz2TyIXz8sBdNxguSIoK+GaHcifRXC+irn6/ZAC0ubwoCsXkZ0jgIA') format('woff2'),
  url('iconfont.woff?t=1615805135788') format('woff'),
  url('iconfont.ttf?t=1615805135788') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1615805135788#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guizi:before {
  content: "\e601";
}

